<nav class="navbar navbar-expand-lg navbar-dark fixed-top">
  <a class="navbar-brand" routerLink = "/home">MyMovie</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" routerLink = "/home">Home <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" routerLink = "/favourites">Favourites</a>
      </li>
    </ul>
  </div>
</nav>
<router-outlet></router-outlet>
<hr>
<footer class="container">
  
    <p class="float-left">&copy; MyMovie Ltd., Inc.</p>
    <div class="float-right">
              <i class="fab fa-youtube fa-2x"></i>
              <i class="fab fa-instagram fa-2x"></i>
              <i class="fab fa-facebook fa-2x"></i>
              <i class="fab fa-twitter fa-2x"></i>
              <p class="fonts">shibin_palace@palace.com</p>   
    </div>  <div class="clearfix"></div>
  </footer>