.jumbotron{
    background-color: rgba(255,255,255, 0.12);
    bottom: 3rem;  
  }
*{
    color: white;
    font-family: 'Times New Roman', Times, serif;
    text-shadow: 1px 1px 0 gray;
}
hr{
    border-color:gray;
}
nav{
    background: black;
}

