<br><br><form class="jumbotron">
    <div class="form-group row">
        <div class="offset-md-1"></div>
        <input #movieName type="text" class="form-control col-md-8">
        <div class="offset-md-1"></div>
        <button (click) = "toSearch(movieName.value)" class="btn btn-dark">SEARCH</button>
    </div>
</form>
<div class="container">
    <section class="row">
        <div *ngFor = "let movie of movies.results" class="col-md-4 " style="margin-top: 10px;">
            <div class="card text-center" style="background: rgba(255,255,255, 0.12)">
                <img class="card-img-top" src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt="Card image cap" style="height: 30rem;">
                    <div class="card-body">
                        <button (click) = "goToMovie(movie.id)" class="btn btn-dark">Know More</button>
                    </div>
            </div>
        </div>
    </section>
</div>

