<br>
<div class="jumbotron">   
    <section class="row">
        <div class="col-md-7">
            <h1>{{movie.title}}</h1>
            <h6>{{movie.tagline}}</h6><hr><br>
            <p>{{movie.overview}}</p><br>
            <div style="text-align: center">
                <h6>Release Date : {{movie.release_date}}</h6>
                <h6>Revenue : {{movie.revenue}}</h6>
                <h6>Run Time : {{movie.runtime}}</h6>
                <h6>Vote Count : {{movie.vote_count}}</h6>
                <h6>Vote Average : {{movie.vote_average}}</h6>
                <h6>Popularity : {{movie.popularity}}</h6>
                <div *ngIf = "!isFav; else other_content" >
                    <button (click) = "addToFavourites(movie.id,movie.poster_path,movie.title)" class="btn btn-dark">Add To Favourites</button>
                </div>
                <ng-template #other_content>
                    <div class="form-group">
                        <ul>Comments: 
                            <div *ngFor = "let comment of favObj.comments; let i=index" style="background: rgba(255,255,255, 0.12)">
                                <div *ngIf = "comment"> *{{comment}}
                                    <button style="float: right;" (click) = "deleteComment(favObj,i)" class="btn btn-dark">Delete</button>
                                    <button style="float: right;" (click) = "editComment(i)" class="btn btn-dark">Edit</button>
                                </div>
                                <div *ngIf = "tobeEdited && tobeEditedIndex == i;">
                                    <input #commentValEdit type="text" value="{{favObj.comments[i]}}" style="color: black;">
                                    <button (click) = editTheComment(favObj,i,commentValEdit.value) style="background: black;">Edit</button>
                                </div><p></p>
                            </div>
                        </ul>
                        <div class="row">
                            <input class = "col-md-9 form-control" [(ngModel)] = "commentVal" type="text"><br>
                            <button class=" col-md-3 btn btn-dark form-control" (click) = "addComment(favObj)">Add Comments</button>
                        </div>
                    </div>
                    <button (click) = "removeFromFav(movie.id)" class="btn btn-dark">Remove From Favourites</button>
                </ng-template>
            </div>
        </div>
        <div class="col-md-5">
            <img src="https://image.tmdb.org/t/p/w500{{movie.poster_path}}" alt = "No image" style="height: 30rem;width: 90%">
        </div>
    </section>
</div>
